.hero-block {
  width: 100%;
  max-width: 1200px;
  margin: 70px auto;
  padding: 0 50px;
  box-sizing: border-box;
}

.hero-text-side {
  width: 48%;
  float: left;
}

.main-title {
  font-size: 68px;
  line-height: 1.1;
  color: #111;
  margin-bottom: 25px;
  font-weight: 900;
}

.main-description {
  font-size: 19px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 40px;
}

.hero-cta {
  background-color: #000000;
  color: #ffffff;
  padding: 18px 40px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
}

.hero-cta:hover {
  transform: translate(15px, -10px);
}

.trust-badges {
  margin-top: 60px;
}

.badge {
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
  font-weight: 700;
  color: #222;
}

.hero-image-side {
  width: 48%;
  float: right;
}

.hero-img {
  width: 100%;
  border-radius: 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.clear-fix {
  clear: both;
}

.services-block {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 90px auto;
  flex-wrap: wrap;
}


.service-card {
  width: 200px;
  height: 130px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.35s ease;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  position: relative;
  overflow: hidden;
}


.service-card::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: rgba(255, 255, 255, 0.08);
  top: -100%;
  left: -100%;
  transform: rotate(25deg);
  transition: 0.5s;
}

.service-card:hover::before {
  top: 100%;
  left: 100%;
}


.icon {
  font-size: 30px;
  z-index: 2;
}


.service-card p {
  font-size: 14px;
  text-align: center;
  z-index: 2;
  padding: 0 10px;
}


.red {
  background: linear-gradient(135deg, #e11d48, #be123c);
  color: white;
}

.blue {
  background: linear-gradient(135deg, #1e3a8a, #1e40af);
  color: white;
}

.yellow {
  background: linear-gradient(135deg, #fbbf24, #f59e0b);
  color: #222;
}


.service-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.15);
}


.service-card:hover .icon {
  transform: scale(1.2) rotate(5deg);
  transition: 0.3s;
}
