<div class="cliente-container animate__animated animate__fadeIn">
  <div class="dashboard-grid">

    <div class="side-panel">

      <div class="profile-card" *ngIf="usuarioInfo">

        <div class="avatar-circle">
          <i class="fa-solid fa-user"></i>
        </div>

        <h2>Bienvenido, <br><span>{{ usuarioInfo.nombre }}</span></h2>

        <div class="badge-tipo">{{ usuarioInfo.tipoCliente || 'Cliente' }}</div>

        <div class="info-section">
          <p><strong>Cédula:</strong> {{ usuarioInfo.cedula }}</p>
          <p><strong>Correo:</strong> {{ usuarioInfo.correo }}</p>
          <p><strong>Teléfono:</strong> {{ usuarioInfo.telefono }}</p>
        </div>

        <button class="btn-logout-side" routerLink="/inicio" (click)="cerrarSesion()">
          <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
        </button>
      </div>

      <div class="profile-card" *ngIf="!usuarioInfo">
        <h2>Atención</h2>
        <p>No hemos detectado una sesión activa.</p>
        <button class="btn-logout-side" routerLink="/login">
          <i class="fas fa-sign-in-alt"></i> Ir al Login
        </button>
      </div>

    </div>

    <div class="main-content">
      <div class="card status-card">
        <div class="stat-item">
          <label>Método de Pago Preferido</label>
          <p>Tarjeta de Crédito</p>
        </div>
        <div class="divider"></div>
        <div class="stat-item">
          <label>{{ tituloTarifa }}</label>
          <p class="highlight">{{ valorTarifa }}</p>
        </div>
      </div>

      <div class="actions-container">
        <button class="btn-action yellow" routerLink="/nuevoenvio">
          <span class="icon"><i class="fa-solid fa-plus"></i></span> Nuevo Pedido
        </button>
      </div>

      <div class="card history-card">
        <h3>Tus Envíos Recientes</h3>
        <table class="history-table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Destino</th>
            <th>Estado</th>
            <th>Fecha</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="listaEnvios.length === 0">
            <td colspan="4" style="text-align: center;">Aún no tienes pedidos registrados.</td>
          </tr>

          <tr *ngFor="let envio of listaEnvios">
            <td>#{{ envio.id }}</td>
            <td>{{ envio.ciudadDestino }}</td>
            <td>
      <span class="status-pill" [ngClass]="envio.estadoPedido?.toLowerCase() || 'pendiente'">
        {{ envio.estadoPedido || 'EN PROCESO' }}
      </span>
            </td>
            <td>{{ envio.fechaCreacionPedido | date:'dd MMM' }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
